## Wstpne Przetwarzanie danych DEV

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Wczytanie danych oryginalnych
data = pd.read_csv('data/HCV-Egy-Data.csv')

In [4]:
# Wyświetlenie pierwszych 5 wierszy
data.head()

,Age,Gender,BMI,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue & generalized bone ache,Jaundice,Epigastric pain,...,ALT 36,ALT 48,ALT after 24 w,RNA Base,RNA 4,RNA 12,RNA EOT,RNA EF,Baseline histological Grading,Baselinehistological staging
0,56,1,35,2,1,1,1,2,2,2,...,5,5,5,655330,634536,288194,5,5,13,2
1,46,1,29,1,2,2,1,2,2,1,...,57,123,44,40620,538635,637056,336804,31085,4,2
2,57,1,33,2,2,2,2,1,1,1,...,5,5,5,571148,661346,5,735945,558829,4,4
3,49,2,33,1,2,1,2,1,2,1,...,48,77,33,1041941,449939,585688,744463,582301,10,3
4,59,1,32,1,1,2,1,2,2,2,...,94,90,30,660410,738756,3731527,338946,242861,11,1

In [5]:
# Wyświetlenie kolumn
data.columns

Index(['Age', 'Gender', 'BMI', 'Fever', 'Nausea/Vomting', 'Headache',
       'Diarrhea', 'Fatigue & generalized bone ache', 'Jaundice',
       'Epigastric pain', 'WBC', 'RBC', 'HGB', 'Plat', 'AST 1', 'ALT 1',
       'ALT4', 'ALT 12', 'ALT 24', 'ALT 36', 'ALT 48', 'ALT after 24 w',
       'RNA Base', 'RNA 4', 'RNA 12', 'RNA EOT', 'RNA EF',
       'Baseline histological Grading', 'Baselinehistological staging'],
      dtype='object')

In [6]:
# Zmiana nazw kolumn
data.columns=['Age ', 'Gender', 'BMI', 'Fever', 'Nausea/Vomting','Headache ',
       'Diarrhea','Fatigue','Jaundice',
       'Epigastric_pain ', 'WBC','RBC','HGB', 'Plat','AST_1','ALT_1',
       'ALT_4', 'ALT_12','ALT_24','ALT_36','ALT_48','ALT_after_24w',
       'RNA_Base','RNA 4','RNA_12', 'RNA_EOT','RNA_EF',
       'Baseline_histological_Grading','Baselinehistological_staging']

In [7]:
# Wyświetlenie kolumn - TEST
data.columns

Index(['Age ', 'Gender', 'BMI', 'Fever', 'Nausea/Vomting', 'Headache ',
       'Diarrhea', 'Fatigue', 'Jaundice', 'Epigastric_pain ', 'WBC', 'RBC',
       'HGB', 'Plat', 'AST_1', 'ALT_1', 'ALT_4', 'ALT_12', 'ALT_24', 'ALT_36',
       'ALT_48', 'ALT_after_24w', 'RNA_Base', 'RNA 4', 'RNA_12', 'RNA_EOT',
       'RNA_EF', 'Baseline_histological_Grading',
       'Baselinehistological_staging'],
      dtype='object')

In [8]:
# Usuniecie białych znaków
data.columns = data.columns.str.strip()

In [9]:
# Wyświetlenie kolumn - TEST
data.columns

Index(['Age', 'Gender', 'BMI', 'Fever', 'Nausea/Vomting', 'Headache',
       'Diarrhea', 'Fatigue', 'Jaundice', 'Epigastric_pain', 'WBC', 'RBC',
       'HGB', 'Plat', 'AST_1', 'ALT_1', 'ALT_4', 'ALT_12', 'ALT_24', 'ALT_36',
       'ALT_48', 'ALT_after_24w', 'RNA_Base', 'RNA 4', 'RNA_12', 'RNA_EOT',
       'RNA_EF', 'Baseline_histological_Grading',
       'Baselinehistological_staging'],
      dtype='object')

In [10]:
# Informacje o danych
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1385 entries, 0 to 1384
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1385 non-null   int64
 1   Gender                         1385 non-null   int64
 2   BMI                            1385 non-null   int64
 3   Fever                          1385 non-null   int64
 4   Nausea/Vomting                 1385 non-null   int64
 5   Headache                       1385 non-null   int64
 6   Diarrhea                       1385 non-null   int64
 7   Fatigue                        1385 non-null   int64
 8   Jaundice                       1385 non-null   int64
 9   Epigastric_pain                1385 non-null   int64
 10  WBC                            1385 non-null   int64
 11  RBC                            1385 non-null   float64
 12  HGB                            1385 non-null   int64
 13  Plat                           1385 non-null   float64
 14  AST_1                          1385 non-null   int64
 15  ALT_1                          1385 non-null   int64
 16  ALT_4                          1385 non-null   float64
 17  ALT_12                         1385 non-null   int64
 18  ALT_24                         1385 non-null   int64
 19  ALT_36                         1385 non-null   int64
 20  ALT_48                         1385 non-null   int64
 21  ALT_after_24w                  1385 non-null   int64
 22  RNA_Base                       1385 non-null   int64
 23  RNA 4                          1385 non-null   int64
 24  RNA_12                         1385 non-null   int64
 25  RNA_EOT                        1385 non-null   int64
 26  RNA_EF                         1385 non-null   int64
 27  Baseline_histological_Grading  1385 non-null   int64
 28  Baselinehistological_staging   1385 non-null   int64
dtypes: float64(3), int64(26)
memory usage: 313.9 KB

In [ ]:
# Statystyki anych
data.describe()

,Age,Gender,BMI,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue,Jaundice,Epigastric_pain,...,ALT_36,ALT_48,ALT_after_24w,RNA_Base,RNA 4,RNA_12,RNA_EOT,RNA_EF,Baseline_histological_Grading,Baselinehistological_staging
count,1385.000000,1385.000000,1385.000000,1385.000000,1385.000000,1385.000000,1385.000000,1385.000000,1385.000000,1385.000000,...,1385.000000,1385.000000,1385.000000,1.385000e+03,1.385000e+03,1.385000e+03,1385.000000,1385.000000,1385.000000,1385.000000
mean,46.319134,1.489531,28.608664,1.515523,1.502527,1.496029,1.502527,1.498917,1.501083,1.503971,...,83.117690,83.629603,33.438267,5.909512e+05,6.008956e+05,2.887536e+05,287660.336462,291378.290975,9.761733,2.536462
std,8.781506,0.500071,4.076215,0.499939,0.500174,0.500165,0.500174,0.500179,0.500179,0.500165,...,26.399031,26.223955,7.073569,3.539354e+05,3.623151e+05,2.853507e+05,264559.525070,267700.691713,4.023896,1.121392
min,32.000000,1.000000,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,5.000000,5.000000,1.100000e+01,5.000000e+00,5.000000e+00,5.000000,5.000000,3.000000,1.000000
25%,39.000000,1.000000,25.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,61.000000,61.000000,28.000000,2.692530e+05,2.708930e+05,5.000000e+00,5.000000,5.000000,6.000000,2.000000
50%,46.000000,1.000000,29.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,...,84.000000,83.000000,34.000000,5.931030e+05,5.978690e+05,2.343590e+05,251376.000000,244049.000000,10.000000,3.000000
75%,54.000000,2.000000,32.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,106.000000,106.000000,40.000000,8.867910e+05,9.090930e+05,5.248190e+05,517806.000000,527864.000000,13.000000,4.000000
max,61.000000,2.000000,35.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,128.000000,128.000000,45.000000,1.201086e+06,1.201715e+06,3.731527e+06,808450.000000,810333.000000,16.000000,4.000000

### Brakujace wartosci

In [12]:
# Sprawdzenie brakujących danych
data.isnull().sum().sum()

np.int64(0)

### Zmiana nazw kolumn

In [13]:
# kategoryzacja niektorych zmiennych
# zmiana z int na string
data_cut = data[['Gender', 'Fever', 'Nausea/Vomting', 'Headache', 'Diarrhea', 'Fatigue', 'Jaundice', 'Epigastric_pain', 'Baselinehistological_staging']]

In [14]:
# Wyświetlenie pierwszych 5 wierszy danych do kategoryzacji
data_cut.head()

,Gender,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue,Jaundice,Epigastric_pain,Baselinehistological_staging
0,1,2,1,1,1,2,2,2,2
1,1,1,2,2,1,2,2,1,2
2,1,2,2,2,2,1,1,1,4
3,2,1,2,1,2,1,2,1,3
4,1,1,1,2,1,2,2,2,1

In [ ]:
# zmiana typu danych na kategoryczne
data_cut = data_cut.astype('category')

In [16]:
# Wyświetlenie informacji o danych do kategoryzacji
data_cut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1385 entries, 0 to 1384
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Gender                        1385 non-null   category
 1   Fever                         1385 non-null   category
 2   Nausea/Vomting                1385 non-null   category
 3   Headache                      1385 non-null   category
 4   Diarrhea                      1385 non-null   category
 5   Fatigue                       1385 non-null   category
 6   Jaundice                      1385 non-null   category
 7   Epigastric_pain               1385 non-null   category
 8   Baselinehistological_staging  1385 non-null   category
dtypes: category(9)
memory usage: 13.5 KB

In [17]:
# 'Gender' zmiana cyfr na stringi
data_cut['Gender'].replace([1,2],['Male', 'Famale'],inplace=True)
data_cut['Gender']

0         Male
1         Male
2         Male
3       Famale
4         Male
         ...
1380      Male
1381      Male
1382      Male
1383      Male
1384    Famale
Name: Gender, Length: 1385, dtype: category
Categories (2, object): ['Male', 'Famale']

In [20]:
# zamiana pozostałych zmiennych na stringi
data_cut['Fever'].replace([1,2],['Absent','Present'],inplace=True)
data_cut['Nausea/Vomting'].replace([1,2],['Absent','Present'],inplace=True)
data_cut['Headache'].replace([1,2],['Absent','Present'],inplace=True)
data_cut['Fatigue'].replace([1,2],['Absent','Present'],inplace=True)
data_cut['Jaundice'].replace([1,2],['Absent','Present'],inplace=True)
data_cut['Diarrhea'].replace([1,2],['Absent','Present'],inplace=True)
data_cut['Epigastric_pain'].replace([1,2],['Absent','Present'],inplace=True)

data_cut['Baselinehistological_staging'].replace([1,2,3,4],['Portal Fibrosis','Few Septa','Many Septa','Cirrhosis'],inplace=True)

In [21]:
# Wyświetlenie pierwszych 5 wierszy danych po kategoryzacji
data_cut.head()

,Gender,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue,Jaundice,Epigastric_pain,Baselinehistological_staging
0,Male,Present,Absent,Absent,Absent,Present,Present,Present,Few Septa
1,Male,Absent,Present,Present,Absent,Present,Present,Absent,Few Septa
2,Male,Present,Present,Present,Present,Absent,Absent,Absent,Cirrhosis
3,Famale,Absent,Present,Absent,Present,Absent,Present,Absent,Many Septa
4,Male,Absent,Absent,Present,Absent,Present,Present,Present,Portal Fibrosis

### Zbalansowanie zbioru danych

In [23]:
# zbalansowanie zmiennej 'Baselinehistological_staging'
data_cut['Baselinehistological_staging'].value_counts()

Baselinehistological_staging
Cirrhosis          362
Many Septa         355
Portal Fibrosis    336
Few Septa          332
Name: count, dtype: int64

### Podsumowanie

Kategoryzacja danych (data_cut) do wizualziji, przyda sie for sure,
- Usuwanie Otlinerow,
- Normalizacja / Standaryzacja
- SMOTE
- zapis do nowego pliku
- usuwanie dupliaktów
-

## Dalsze przetwarzanie danych